.image {
    background-image: url('image/TourismManagement.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.master {
    text-align:right;
}
#title{
    text-align:center;

}